/* --------- Fonts --------- */

@font-face {
    font-family: "fregatregular";
    src: url("../fonts/fregat/fregat_regular.eot");
    src: url("../fonts/fregat/fregat_regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/fregat/fregat_regular.woff") format("woff"),
         url("../fonts/fregat/fregat_regular.ttf") format("truetype"),
         url("../fonts/fregat/fregat_regular.svg#MyriadPro-Bold") format("svg");
}

@font-face {
    font-family: "fregatbold";
    src: url("../fonts/fregat/fregat_bold.eot");
    src: url("../fonts/fregat/fregat_bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/fregat/fregat_bold.woff") format("woff"),
         url("../fonts/fregat/fregat_bold.ttf") format("truetype"),
         url("../fonts/fregat/fregat_bold.svg#MyriadPro-BoldCond") format("svg");
}

.fregat-b {
    font-family: "fregatbold";
}

.fregat-r {
    font-family: "fregatregular";
}

/* --------- Mixins --------- */

  @import "mixins";

/* --------- Base --------- */
* {
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    font: 100%/1.5em "fregatregular";
    color: #000;
    -webkit-font-smoothing: antialiased;
    background-color: #cccccc;
}
 
img {
    max-width: 100%;
    height: auto;
}

/* --------- Main --------- */
 
.container {
    
    width: 90%;
    margin: 0 auto;
    background: #fff;
}
  
 
.container .cols {
    float: left;
    margin: 0 0 1em;
    padding: 0 1em; 
    text-align: center;
    
}

.button {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #46a5e8;
    color: white;

    &:hover {
        background-color:#2c8acc;
        .transition(2s);
    }
} 

textarea {
    width: 50%;
    height:90% ;
    resize: none;
    outline: none;
}

.container:before,
.container:after,
.row:after,
.row:before,
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.container:after,
.row:after,
.clear:after {
    clear: both;
}
 
.container .cols.col-1,  
.container .cols.col-2,  
.container .cols.col-3,  
.container .cols.col-4,  
.container .cols.col-5,   
.container .cols.col-6,   
.container .cols.col-7,
.container .cols.col-8,
.container .cols.col-9,
.container .cols.col-10,
.container .cols.col-11,
.container .cols.col-12  { width: 100%; } 



/* --------- input color --------- */

#bg-color  {
    width: 60px;
}

#border-color {
    width: 60px;
}

/* --------- Button create --------- */

.result-button {
  margin: 100px auto;
  height: 40px;
  width: 140px;
  border: 0px solid #000;
}



/* --------- UI slider --------- */

#slider-border-radius,
#slider-border-size
 {
    width:50%;
    margin: 0 auto;
}




/* --------- Media --------- */

@media only screen and (min-width: 685px) {  
    
 
    .container .cols.col-1   { width: 8.333333333333332%;  }
    .container .cols.col-2   { width: 16.666666667%;  }
    .container .cols.col-3   { width: 25%; }
    .container .cols.col-4   { width: 33.333333333%;    }
    .container .cols.col-5   { width: 41.666666667%; }
    .container .cols.col-6   { width: 50%;  }
    .container .cols.col-7   { width: 58.333333333%; }
    .container .cols.col-8   { width: 66.666666667%;    }
    .container .cols.col-9   { width: 75%; }
    .container .cols.col-10  { width: 83.333333333%;  }
    .container .cols.col-11  { width: 91,666666667%; }
    .container .cols.col-12  { width: 100%;    } 
 
    
 
}