/* --------- Mixins --------- */
/* MIXINS */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* --------- Base --------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 100%/1.5em "fregatregular";
  color: #000;
  -webkit-font-smoothing: antialiased;
  background-color: #48C9B0;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
}
.input-group {
  width: 50%;
  margin: 10px auto;
}
textarea {
  resize: none;
  outline: none;
}
.result-button {
  margin: 100px auto;
  display: block;
  border: 0px solid #000;
  background-color: #1abc9c;
  padding: 15px 30px;
}
.tooltip-inner {
  white-space: pre;
}
#slider-border-radius,
#slider-border-size,
#slider-height,
#slider-width,
#slider-font-size {
  width: 50%;
  margin: 0 auto;
}
p {
  padding-top: 20px ;
}
textarea.form-control {
  height: auto;
  border-radius: 20px;
}
.option {
  border-right: 1px solid #1abc9c;
}
.row {
  margin-bottom: 40px;
}
.btn-success,
.btn {
  margin-left: 230px;
}
.form-horizontal {
  margin-left: 390px;
  margin-top: 40px;
}
.bg-success {
  text-align: center;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.bg-danger {
  text-align: center;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
  }
  #slider-border-radius,
  #slider-border-size,
  #slider-height,
  #slider-width,
  #slider-font-size {
    width: 90%;
    margin: 0 auto;
  }
  .input-group {
    width: 90%;
    margin: 10px auto;
  }
  .option {
    border-right: none;
  }
  .row {
    margin-bottom: 0;
  }
  textarea.form-control {
    height: auto;
    margin-bottom: 20px;
  }
  .result-button {
    margin: 10px auto;
    display: block;
    border: 0px solid #000;
    background-color: #1abc9c;
    padding: 15px 30px;
  }
  .btn-success,
  .btn {
    margin-left: 0;
  }
  .form-horizontal {
    margin-left: 0;
  }
  .control-label {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .btn-success,
  .btn {
    margin-left: 0;
  }
  .form-horizontal {
    margin-left: 0;
  }
  .control-label {
    display: none;
  }
  .option {
    border-right: none;
  }
  textarea.form-control {
    height: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .btn-success,
  .btn {
    margin-left: 0;
  }
  .form-horizontal {
    margin-left: 0;
  }
  .control-label {
    display: none;
  }
  .option {
    border-right: none;
  }
  textarea.form-control {
    height: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .btn-success,
  .btn {
    margin-left: 0;
  }
  .form-horizontal {
    margin-left: 0;
  }
  .control-label {
    display: none;
  }
  .option {
    border-right: none;
  }
  textarea.form-control {
    height: auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .btn-success,
  .btn {
    margin-left: 0;
  }
  .form-horizontal {
    margin-left: 0;
  }
  .control-label {
    display: none;
  }
  textarea.form-control {
    height: auto;
    margin-bottom: 20px;
  }
}
